NTShop/Microsoft.Flow/flows/b12e5e14-7edb-4bfc-be63-1b5149ef9a90/definition.json
{"name":"f679e112-613e-4a84-b66d-cc73d5b45d0d","id":"/providers/Microsoft.Flow/flows/f679e112-613e-4a84-b66d-cc73d5b45d0d","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"exportSuply","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"6c0c049f-b4fa-4ce5-b034-8e738b72ae6e","type":"User","tenantId":"1b669d37-c786-49a8-9909-0d72cfbe7c33"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-11-17T07:33:53.7475293Z","connectionKeySavedTimeKey":"2025-05-29T20:12:01.3751446Z","creationSource":"PowerappsPpux","modifiedSources":"PowerappsPpux"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"0cf6f2ff-d101-4e29-b0bb-5414d76b7041"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Query","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"Create_file":{"runAfter":{},"metadata":{"operationMetadataId":"bf6ff519-8ac1-404e-a5c0-c5be2113df8b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/ExportDataExport","name":"suplier_@{formatDateTime(utcNow(),'FF')}","body":" "},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Create_table":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"f69a4f3e-8460-4423-b4b5-fc9cd5780614"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"CreateTable"},"parameters":{"source":"me","drive":"b!TkzTyrjKOU-merkjyy3aLq_VhmLQOa1LqAESzEktQWLjyCB3j51aQphUYvdWMF42","file":"@outputs('Create_file')?['body/Id']","table/Range":"$A1:$G1","table/TableName":"SuplyTable","table/ColumnsNames":"MaNhaCungCap, Ten, DiaChi, SoDienThoai, Email, NguoiLienHeChinh, ChucVu\n"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_items":{"runAfter":{"Create_table":["Succeeded"]},"metadata":{"operationMetadataId":"6f6de280-f846-42ee-9248-fdafa634513e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://htpa.sharepoint.com/sites/WarehouseManeger","table":"64feb5be-3749-43fe-a582-5e53b9432536","$filter":"@triggerBody()['text']","$top":5000},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":1000}}},"Select":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"1477bb2b-e414-460b-b1af-6442f1591cc5"},"type":"Select","inputs":{"from":"@outputs('Get_items')?['body/value']","select":["@item()?['M_x00e3_nh_x00e0_cungc_x1ea5_p']","@item()?['T_x00ea_n']","@item()?['OData__x0110__x1ecb_ach_x1ec9_']","@item()?['S_x1ed1__x0111_i_x1ec7_ntho_x1ea']","@item()?['Email']","@item()?['Ng_x01b0__x1edd_ili_x00ea_nh_x1e']","@item()?['Ch_x1ee9_cv_x1ee5_']"]}},"Send_an_HTTP_request":{"runAfter":{"Select":["Succeeded"]},"metadata":{"operationMetadataId":"5c26983b-2516-488b-8fba-fdba8fc101af"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"HttpRequest"},"parameters":{"Uri":"https:///graph.microsoft.com/v.1.0/me//drive/items/@{split(action('Create_table')?['inputs']?['parameters']?['file'],'.')?[11]}/workbook/tables/","Method":"POST","Body":"{\n\"valus\" : @{body('Select')}\n}\n","ContentType":"application/json"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_share_link":{"runAfter":{"Send_an_HTTP_request":["Succeeded"]},"metadata":{"operationMetadataId":"186a85d0-0b13-4a15-9875-cd798ff90ed5"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateShareLinkV2"},"parameters":{"id":"@outputs('Create_file')?['body/Id']","type":"View","scope":"Organization"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Respond_to_a_Power_App_or_flow":{"runAfter":{"Create_share_link":["Succeeded"]},"metadata":{"operationMetadataId":"998f169e-14ee-40c2-81d6-ec1535c2eac4"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"url":"@outputs('Create_share_link')?['body/WebUrl']"},"schema":{"type":"object","properties":{"url":{"title":"URL","x-ms-dynamically-added":true,"type":"string"}}}}}}},"connectionReferences":{"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-757cfa56-a93d-420c-8e6e-94a845aa1d89","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified","apiName":"onedriveforbusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-f2e53783-9384-4144-84e6-dd79ade3a4e2","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sharepointonline":{"connectionName":"shared-sharepointonl-01db0a89-348b-4f84-836e-277c54f0c79b","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365users":{"connectionName":"shared-office365user-79642275-f362-41b0-bb53-1e5f832a0de1","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified","apiName":"office365users","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}