NTShop/Microsoft.Flow/flows/a13031b3-a8eb-4e0b-bb5f-9167aafd41ff/definition.json
{"name":"984184a4-832d-43fc-83df-3d5735308a11","id":"/providers/Microsoft.Flow/flows/984184a4-832d-43fc-83df-3d5735308a11","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"ExportExcellSupply","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"6c0c049f-b4fa-4ce5-b034-8e738b72ae6e","type":"User","tenantId":"1b669d37-c786-49a8-9909-0d72cfbe7c33"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-11-17T17:01:40.1347521Z","connectionKeySavedTimeKey":"2025-06-01T15:48:01.3353717Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"9bf9cc72-f5ba-489a-8743-7264b5bf9735"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Input","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"Parse_JSON":{"runAfter":{},"metadata":{"operationMetadataId":"45fe6d19-0ce0-4226-aa25-422db5ddf895"},"type":"ParseJson","inputs":{"content":"@triggerBody()['text']","schema":{"type":"array","items":{"type":"object","properties":{"Address":{"type":"string"},"ContactS":{"type":"string"},"Email":{"type":"string"},"IDSuply":{"type":"string"},"NameSuply":{"type":"string"},"Office":{"type":"string"},"Phone":{"type":"string"}},"required":["Address","ContactS","Email","IDSuply","NameSuply","Office","Phone"]}}}},"Create_file":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"151e591b-c99a-47b4-bee9-e4f9d5d8cdb6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://htpa.sharepoint.com/sites/WarehouseManeger","folderPath":"/Exported Data","name":"export-@{formatDateTime(utcNow(), 'yyyyMMddHHmmss')}.csv\n","body":"@outputs('Compose_2')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Compose":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"26be5d92-cfb8-4c89-95d8-1af79fa82f49"},"type":"Compose","inputs":"https://htpa.sharepoint.com/sites/WarehouseManeger@{outputs('Create_file')?['body/Path']}"},"Respond_to_a_Power_App_or_flow":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"2d85307e-c358-4a77-b941-a1303bd9c4fa"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"linkoutput":"@{outputs('Compose')}"},"schema":{"type":"object","properties":{"linkoutput":{"title":"LinkOutput","x-ms-dynamically-added":true,"type":"string"}}}}},"Create_CSV_table":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"a5f68246-c951-4078-bf9f-7d2d9cb97a4f"},"type":"Table","inputs":{"from":"@body('Parse_JSON')","format":"CSV"}},"Compose_2":{"runAfter":{"Create_CSV_table":["Succeeded"]},"metadata":{"operationMetadataId":"5fec4c9e-7f4e-4df9-9c1b-5282db9e8c42"},"type":"Compose","inputs":"@concat(uriComponentToString('%EF%BB%BF'),body('Create_CSV_table'))"}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-01db0a89-348b-4f84-836e-277c54f0c79b","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}